/* styles for the create item popup */

/* general form styling */
.create-form-popup {
    display: block;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    width: 100%; 
    max-width: 400px;
}
  
  .create-form-popup h3 {
    font-size: 25px;
    font-weight: 500;
  }
  
  .creation-container {
    max-width: 100%;
    /* width: 85%; */
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 30px;
  }

  .create-main {
    display: flex;
    justify-content: space-between;
  }
  
  /* styling image display area */
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* styling item name and category display area */
  .right-section {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-left: 20px;
  }

  /* image preview styling */
  .img-preview {
    position: relative;
    width: 20vh;
    height: 20vh;
    background: var(--grey);
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .img-preview .icon {
    font-size: 100px;
  }
  
  .img-preview p {
    color: #999;
  }
  
  .img-preview p span {
    font-weight: 600;
  }
  
  .img-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
  }
  
  .img-preview::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
  }
  
  .img-preview.active:hover::before {
    opacity: 1;
  }
  
  /* create item button */
  .button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

  }
  
  .create-item {
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 90%;
    padding: 10px 0;
    border-radius: 15px;
    background: var(--pink);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .create-item:hover {
    background: var(--dark-pink);
  }

  /* disabled styling if fields are not filled */
  .create-item:disabled {
    background: #ccc; 
    cursor: not-allowed; 
  }
  
  /* cancel button styling */
  .cancel {
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 90%;
    padding: 10px 0;
    border-radius: 15px;
    background: #dc6262;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 5px;    
  }
  
  .cancel:hover {
    background: #bd4848;
  }

  /* category selection menu styling */
  .select-menu {
    max-width: 70vh;
    margin: 15px auto;
  }
  
  .select-menu .select-btn {
    display: flex;
    height: 5px;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 20vh;
  }
  
  .select-menu .options {
    position: absolute;
    width: 20vh;
    overflow-y: auto;
    max-height: 295px;
    padding: 5px;
    padding-right: 15px;
    margin-top: 5px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
  }
  
  .select-menu .options .option {
    display: flex;
    height: auto;
    cursor: pointer;
    padding: 10px 13px;
    padding-right: 20px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
  }
  
  .select-menu .options .option:hover {
    background: #f2f2f2;
  }
  
  .select-menu .options .option .option-text {
    font-size: 14px;
    color: #333;
  }
  
  .select-btn i {
    font-size: 25px;
    transition: 0.3s;
  }
  
  .select-menu.active .select-btn i {
    transform: rotate(-180deg);
  }
  
  .select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }

